<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"   th:href="@{css/bootstrap.min.css}" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" 	th:src="@{js/jquery-1.11.0.min.js}" ></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js" 	th:src="@{js/js.cookie-3.0.5.min.js}" ></script>
</head>
<body>

	<div class="container">
    	<div class="starter-template">
        	<h1>Authorization Server</h1>
        	<p class="lead">The Authorization Server is running  
        	</p>
      	</div>
    	<div id="error" class="text-danger">
      	</div>
	</div>

</body>
</html>
